python-dotenv
fastapi
uvicorn[standard]
qdrant-client
rank_bm25
flashrank
langgraph
langchain-core
langsmith
google-genai
python-multipart
pydantic
huggingface_hub

psycopg[binary,pool]
psycopg2-binary
langgraph-checkpoint-postgres
pyjwt[crypto]