torch==2.5.1+cu121
python-dotenv
fastapi
uvicorn[standard]
qdrant-client
sentence-transformers
rank_bm25
flashrank
langgraph
langchain-core
langsmith
google-genai
python-multipart
pydantic
huggingface_hub

psycopg[binary,pool]
langgraph-checkpoint-postgres